
body{
    margin: 0;

    font-family: Arial;
}
table {
    background-color: #282B30;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    height: 0px;
}
td a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 0px;
}


.navbar{
    width: 33%;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
td{
    margin: 0px;
    padding: 40px 0px 40px 0px;
    text-align: center;
    width: 50%;
}

td a:hover {
    background-color: #1E2124; 
}

td a:active{
    background-color: #7289DA;
    
}

.html{
    background-color: #D9EEE1;
    margin: 0px 0px 0px 0px;
    padding: 70px 0px 70px 0px;
    color: black;
}
.css{
    background-color: #FFF4A3;
    margin: 0px 0px 0px 0px;
    padding: 70px 0px 70px 0px;
    color: black;
}
.javascript{
    background-color: #F3ECEA;
    margin: 0px 0px 0px 0px;
    padding: 70px 0px 70px 0px;
    color: black;
}

.hijo-button{
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: white;
    background-color: #04AA6D;
}

.item-button{
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: bold;
    font-size: 11px;
    color: white;
    background-color: #000000;
}

.pink-button{
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: bold;
    font-size: 11px;
    color: white;
    background-color: pink;
}

h1{font-weight: bold;
    font-size: 60px;
    margin: 0px 0px 15px 0px ;
}
.aneh{
    padding: 0px 0px 0px 50px;
}
table img {
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 20px 880px 20px 0px;
}